/* second step styles */

/* .icon:hover {
  transform: scale(2);
} */
.section {
  display: none;
}
.option {
  width: 100%;
  color: #a1a1a9;
  margin: 0.2rem 0;
}

#selected  p {
  background-color: #652CD1;
  border: 1.5px solid #845EEE;
  color: #E5E7EB;
  font-weight: bold;
}

.option  p {
  padding: 0.9rem;
  font-size: 0.875rem;
  border: 1.5px solid #4D5562;
  border-radius: 10px;
  background-color: #394150;
  cursor: pointer;
}

.option:nth-of-type(3)  p {
  margin-bottom: 1.8rem;
}

